div.toolbarContainer, div.selectedObjectsContainer{
	
}
div.selectedObjectsContainer{
	height: 628px;
	width: 370px;
	overflow-y:scroll;
	background-color:white;
}
table.editorTable {
	background-color: #BBBBBB;
}
div.visualisationContainer {
	background-color: white;
}